nav{
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  color: #FFF;
}
.mat-mdc-form-field-focus-overlay {
  background:  linear-gradient(to right, #ffffff, #c5c5c5) !important;
}
.container-pro{
  padding: 0 20px;
}
.select_project{
  margin: 13px 0px 0px 29px;
}
.content{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 0;
}
.mat-mdc-form-field {
  width: 150%;
}
img{
  width: 150px;
}
ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: 0;
}
li{
  cursor: pointer;
  font-size: 22px;
  color: #FFF;
  text-decoration: none;
}
