.content{
  padding: 20px;
  width: 100%;
}
.content h1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #333333;
  font-weight: 400;
  padding: 15px;
}
.content>p{
  padding: 15px;
  margin-bottom: 20px;
  line-height: 30px;
}
.content  a {
  text-decoration: underline;
  color: #9384D1;
}
