.app{
  width: 100%;
  display: flex;
  justify-content: center;
}
.side-bar{
  min-width: 15%;
}
.content{
  min-width: 85%;
}

@media only screen and (max-width: 1059px) {
  .side-bar{
    min-width: 200px;
  }
  .content{
    min-width: unset;
  }
}
